<div class="pure-menu">
  <ul class="pure-menu-list">
    <% @contents.each_with_index do |content, idx| %>
      <li class="pure-menu-item">
        <a href="/chapters/<%= idx + 1 %>" class="pure-menu-link"><%= content %></a>
      </li>
    <% end %>
  </ul>
</div>
